# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [35]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Da Lat,VN,11.9465,108.4419,292.97,77,99,1.76,overcast clouds
1,1,Lorengau,PG,-2.0226,147.2712,302.14,71,94,1.31,overcast clouds
2,2,Sargodha,PK,32.0836,72.6711,286.84,66,0,2.38,clear sky
3,3,Bredasdorp,ZA,-34.5322,20.0403,289.04,66,100,3.30,overcast clouds
4,4,Kapaa,US,22.0752,-159.3190,301.14,72,40,6.69,scattered clouds
5,5,Hilo,US,19.7297,-155.0900,297.94,88,100,3.60,moderate rain
6,6,Port Elizabeth,ZA,-33.9180,25.5701,289.87,83,38,5.11,scattered clouds
7,7,Arraial Do Cabo,BR,-22.9661,-42.0278,296.22,94,100,11.67,moderate rain
8,8,Rikitea,PF,-23.1203,-134.9692,297.00,81,100,6.43,overcast clouds
9,9,Avarua,CK,-21.2078,-159.7750,298.18,61,60,6.17,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [7]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Enter the minimum temperature criteria "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Enter the maximum temperature criteria "))

Enter the minimum temperature criteria 294
Enter the maximum temperature criteria 302

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [8]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function

preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Kapaa,US,22.0752,-159.3190,301.14,72,40,6.69,scattered clouds
5,5,Hilo,US,19.7297,-155.0900,297.94,88,100,3.60,moderate rain
7,7,Arraial Do Cabo,BR,-22.9661,-42.0278,296.22,94,100,11.67,moderate rain
8,8,Rikitea,PF,-23.1203,-134.9692,297.00,81,100,6.43,overcast clouds
9,9,Avarua,CK,-21.2078,-159.7750,298.18,61,60,6.17,broken clouds
12,12,Padang,ID,-0.9492,100.3543,297.18,89,100,1.38,moderate rain
13,13,Cayenne,GF,4.9333,-52.3333,300.17,83,20,2.57,few clouds
16,16,Omboue,GA,-1.5746,9.2618,297.30,92,100,3.04,overcast clouds
18,18,Puerto Ayora,EC,-0.7393,-90.3518,294.57,84,86,2.24,overcast clouds
23,23,Vaini,TO,-21.2000,-175.2000,300.24,78,40,3.09,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [11]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()
clean_travel_cities.pop('Unnamed: 0')

# Display sample data
clean_travel_cities.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,Kapaa,US,22.0752,-159.3190,301.14,72,40,6.69,scattered clouds
5,Hilo,US,19.7297,-155.0900,297.94,88,100,3.60,moderate rain
7,Arraial Do Cabo,BR,-22.9661,-42.0278,296.22,94,100,11.67,moderate rain
8,Rikitea,PF,-23.1203,-134.9692,297.00,81,100,6.43,overcast clouds
9,Avarua,CK,-21.2078,-159.7750,298.18,61,60,6.17,broken clouds
12,Padang,ID,-0.9492,100.3543,297.18,89,100,1.38,moderate rain
13,Cayenne,GF,4.9333,-52.3333,300.17,83,20,2.57,few clouds
16,Omboue,GA,-1.5746,9.2618,297.30,92,100,3.04,overcast clouds
18,Puerto Ayora,EC,-0.7393,-90.3518,294.57,84,86,2.24,overcast clouds
23,Vaini,TO,-21.2000,-175.2000,300.24,78,40,3.09,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [12]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df =  clean_travel_cities[["City","Country","Max Temp", "Current Description", "Lat", "Lng"]]

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
4             Kapaa      US    301.14    scattered clouds  22.0752 -159.3190
5              Hilo      US    297.94       moderate rain  19.7297 -155.0900
7   Arraial Do Cabo      BR    296.22       moderate rain -22.9661  -42.0278
8           Rikitea      PF    297.00     overcast clouds -23.1203 -134.9692
9            Avarua      CK    298.18       broken clouds -21.2078 -159.7750
12           Padang      ID    297.18       moderate rain  -0.9492  100.3543
13          Cayenne      GF    300.17          few clouds   4.9333  -52.3333
16           Omboue      GA    297.30     overcast clouds  -1.5746    9.2618
18     Puerto Ayora      EC    294.57     overcast clouds  -0.7393  -90.3518
23            Vaini      TO    300.24    scattered clouds -21.2000 -175.2000

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [20]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df.loc[:,"Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

C:\Users\choju\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,301.14,scattered clouds,22.0752,-159.3190,
5,Hilo,US,297.94,moderate rain,19.7297,-155.0900,
7,Arraial Do Cabo,BR,296.22,moderate rain,-22.9661,-42.0278,
8,Rikitea,PF,297.00,overcast clouds,-23.1203,-134.9692,
9,Avarua,CK,298.18,broken clouds,-21.2078,-159.7750,
12,Padang,ID,297.18,moderate rain,-0.9492,100.3543,
13,Cayenne,GF,300.17,few clouds,4.9333,-52.3333,
16,Omboue,GA,297.30,overcast clouds,-1.5746,9.2618,
18,Puerto Ayora,EC,294.57,overcast clouds,-0.7393,-90.3518,
23,Vaini,TO,300.24,scattered clouds,-21.2000,-175.2000,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [21]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [24]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row[4]
    lng = row[5]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url,params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

C:\Users\choju\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,301.14,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Hilo,US,297.94,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
7,Arraial Do Cabo,BR,296.22,moderate rain,-22.9661,-42.0278,Pousada Porto Praia
8,Rikitea,PF,297.00,overcast clouds,-23.1203,-134.9692,People ThankYou
9,Avarua,CK,298.18,broken clouds,-21.2078,-159.7750,Paradise Inn
12,Padang,ID,297.18,moderate rain,-0.9492,100.3543,Mercure Padang
13,Cayenne,GF,300.17,few clouds,4.9333,-52.3333,Hôtel Le Dronmi
16,Omboue,GA,297.30,overcast clouds,-1.5746,9.2618,Hotel Olako
18,Puerto Ayora,EC,294.57,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
23,Vaini,TO,300.24,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [26]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,301.14,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Hilo,US,297.94,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
7,Arraial Do Cabo,BR,296.22,moderate rain,-22.9661,-42.0278,Pousada Porto Praia
8,Rikitea,PF,297.00,overcast clouds,-23.1203,-134.9692,People ThankYou
9,Avarua,CK,298.18,broken clouds,-21.2078,-159.7750,Paradise Inn
12,Padang,ID,297.18,moderate rain,-0.9492,100.3543,Mercure Padang
13,Cayenne,GF,300.17,few clouds,4.9333,-52.3333,Hôtel Le Dronmi
16,Omboue,GA,297.30,overcast clouds,-1.5746,9.2618,Hotel Olako
18,Puerto Ayora,EC,294.57,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
23,Vaini,TO,300.24,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [29]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [30]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [31]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 301.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>moderate rain and 297.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>moderate rain and 296.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 297.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 298.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>moderate rain and 297.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>few clouds and 300.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Olako</dd>\n<dt>City</dt><dd>Omboue</dd>\n<dt>Country</dt><dd>GA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 297.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 294.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 300.24 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [32]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
4   22.0752 -159.3190
5   19.7297 -155.0900
7  -22.9661  -42.0278
8  -23.1203 -134.9692
9  -21.2078 -159.7750
12  -0.9492  100.3543
13   4.9333  -52.3333
16  -1.5746    9.2618
18  -0.7393  -90.3518
23 -21.2000 -175.2000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [41]:
# Add a marker layer for each city to the map. 
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)


# Create a figure to add the Google map as a layer
figure_layout = {
    'width': '800px',
    'height': '300px',            
    'border': '1px solid black',   
    'padding': '1px',              
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
fig.add_layer(markers)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…